<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="GraphSemanticLevelMarkerPlugin"
   iconfile="iconGraphSemanticLevelMarker.png"
   description="Graph Semantic Level Marker"
   tooltip="Reads a RDF graph data, evaluate its semantic expressivity level and creates a new triple stamping its level."
   category="LinkedDataBR - Graph"
   classname="br.ufrj.ppgi.greco.trans.step.graphSemanticLevelMarker.GraphSemanticLevelMarkerStepMeta">
   <libraries>
		<library name="GraphSemanticLevelMarker.jar"/>
		<library name="KettlePluginTools.jar"/>
		<library name="jena-2.6.4.jar"/>
	</libraries>
</plugin>