<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="GraphNTripleGeneratorPlugin"
   iconfile="ntriplegenerator.png"
   description="Graph NTriple Generator"
   tooltip="Experimental"
   category="UFRJ_PPGI_GRECO"
   classname="br.ufrj.ppgi.greco.trans.step.ntriplegenerator.NTripleGeneratorStepMeta">
   <libraries>
		<library name="GraphNTripleGenerator.jar"/>
		<library name="KettlePluginTools.jar"/>
	</libraries>
</plugin>